<header>
    <div class="navbar navbar-dark bg-primary shadow-sm">
        <div class="navbar-brand align-item-center d-flex">
            <i style="font-size:35px;" class="fas fa-shipping-fast"></i> &nbsp;
            <strong style="font-size: 30px;">GalaxyKart</strong>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Login</h1>
                    <h6>Please enter email & Password</h6>
                </div>
                <form [formGroup]="loginForm" (ngSubmit)="login()">
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                      <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div><br>
                      <span class="text-danger" *ngIf="loginForm.controls['email'].dirty && loginForm.hasError('required', 'email')">*Email Id is required</span>
                      <span class="text-danger" *ngIf="loginForm.controls['email'].dirty && loginForm.hasError('email', 'email')">*Invalid</span>
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
                      <span class="text-danger" *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required','password')">*Password is required</span>
                      <span class="text-danger" *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('minlength', 'password')">*Minimum 6 alphabets are required</span>
                    </div>
                    <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Login</button>
                  </form>
                  <a routerLink="/signup"> New user? Click to signup!</a>
            </div>
        </div>
    </div>
</div>
